<section class="about-section" id="about" data-scroll-index="3">
    <div class="container">
        <div class="row justify-content-between flex-row-reverse">
            <div class="col-md-7 col-lg-5">
                <div class="about-text">
                    <h6>About - Aaron Soto</h6>
                    <h3>Welcome to my corner of the web</h3>
                    <p>Hi there! I’m Aaron, A web developer that likes to build websites and wood projects. I’m fully self-taught and still
                        learning more about tech everyday and running my company
                        <a href="https://ayezeewebdesigns.com" target="_blank">AyeZeeWebDesigns</a>
                        which builds websites for local businesses.</p>
                    <p>Learning to code has changed my life completely and I know it can do the same for you, too. Since I began learning
                        tech skills, I’ve been able to make money and gain full control over how I live my life and have the freedom I have
                        always wanted.
                    </p>
                    <p>
                        But first and foremost: it has given me the chance to spend more time with my family and friends. I decide how I spend
                        my days, when I get up, where I work, and who I spend my time with. In short: I get to do what I love and it gives me
                        the ultimate freedom and flexibility in life.
                    </p>
                    <div class="social-icon">
                        <a href="{{ siteSettings.user.facebookURL }}" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="{{ siteSettings.user.instagramURL }}" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="{{ siteSettings.user.linkedinURL }}" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="{{ siteSettings.user.githubURL }}" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-end">
                <div class="about-banner">
                    <img src="assets/img/about-me-01.png" title="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>