<section class="section pt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h6>MY PROCESS</h6>
                    <h2>Transform your website dreams into a reality in just a few simple steps.</h2>
                    <div class="btn-bar mt-4">
                        <a class="px-btn dark" href="#contactus">
                            <span>Get in touch</span>
                            <i class="bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-box-01">
                    <div class="feature-icon">
                        <span></span>
                    </div>
                    <div class="feature-content">
                        <h5>Concept</h5>
                        <ul>
                            <li>Reviewing any existing branding</li>
                            <li>Target audience and competitors research</li>
                            <li>Developing a strategy</li>
                        </ul>
                    </div>
                </div>
                <div class="feature-box-01">
                    <div class="feature-icon">
                        <span></span>
                    </div>
                    <div class="feature-content">
                        <h5>Design</h5>
                        <ul>
                            <li>Work with designers to create mockups</li>
                            <li>Demo designs to client</li>
                        </ul>
                    </div>
                </div>
                <div class="feature-box-01">
                    <div class="feature-icon">
                        <span></span>
                    </div>
                    <div class="feature-content">
                        <h5>Development</h5>
                        <ul>
                            <li>Develop website in timely manner</li>
                            <li>Demo final product to client</li>
                            <li>Final site goes live</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>