<section class="section" id="services" data-scroll-index="1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h6>Services</h6>
                    <h2>Get a powerful website that delivers results with an all-in-one solution</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-box-01">
                    <div class="feature-icon">
                        <span></span>
                    </div>
                    <div class="feature-content">
                        <h5>Graphic Design</h5>
                        <p>I love to use tools like Adobe and Affinity suite to create good looking graphics.</p>
                    </div>
                </div>
                <div class="feature-box-01">
                    <div class="feature-icon">
                        <span></span>
                    </div>
                    <div class="feature-content">
                        <h5>Web Design</h5>
                        <p>We work hand in hand with web designers to make sure your website looks better than your competitors.</p>
                    </div>
                </div>
                <div class="feature-box-01">
                    <div class="feature-icon">
                        <span></span>
                    </div>
                    <div class="feature-content">
                        <h5>Web Development</h5>
                        <p>We can make your designs come to life or use our own designs to have your website look modern and professional.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>