<div class="header-top-fixed one-page-nav">
  <div
    class="container">
    <!-- Brand -->
    <div class="logo">
      <a class="navbar-brand" href="/">
        <h1 class="logo-dark">Aaron Soto.</h1>
        <h1 class="logo-light" style="color: white">Aaron Soto.</h1>
      </a>
    </div>
    <!-- / -->
    <ul class="main-menu">
      <li>
        <a data-scroll-nav="0" href="/">
          Home
        </a>
      </li>
      <li>
        <a data-scroll-nav="1" href="#services">
          Services
        </a>
      </li>
      <li>
        <a data-scroll-nav="2" href="#project">
          Projects
        </a>
      </li>
      <li>
        <a data-scroll-nav="3" href="#about">
          About Me
        </a>
      </li>
      <li>
        <a data-scroll-nav="4" href="#contactus">
          Contact
        </a>
      </li>
    </ul>
    <!-- Top Menu -->
    <div class="ms-auto d-flex">
      <a class="px-btn dark d-none d-lg-inline-flex" href="#contactus">Lets' Talk</a>
      <button class="toggler-menu d-lg-none">
        <span></span>
      </button>
    </div>
    <!-- / -->
  </div>
</div>